[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
Django="==2.2.2"
djangorestframework="==3.9.4"
mysqlclient="==1.4.2.post1"
pipenv="==2018.11.26"
pylint="==2.3.1"
virtualenv="==16.6.0"
django-rest-knox = "==4.1.0"
drf-multiple-model = "*"
install = "*"
django-rest-multiple-models = "*"

[requires]
python_version = "3.7"
